<div class=" text-center">
    <h1 class="text-5xl font-semibold text-black text-center mt-[9rem]">Password Generator</h1>
    <div class="bg-[#9dbacf] shadow-xl shadow-blue-500/50 w-[35rem] h-[11rem] relative left-[29rem] top-6 rounded-lg">
        <input class="rounded-md mt-7 ml-0 font-medium text-lg w-[28rem] h-[3rem] border-none ps-4" type="text"
            [value]="password" placeholder="password" readonly #passwordInput />
        <span>
            <button class="text-white h-[3rem] w-[4rem] bg-blue-700 rounded-md ml-2 font-semibold hover:bg-blue-800 copyBtn"
                (click)="copyPasswordToClipboard()">
                {{ button }}
            </button>
        </span>
        <div class="flex justify-center mt-7 text-black font-semibold text-lg ">
            <input class="cursor-pointer accent-blue-700" type="range" min="6" max="100" [value]="length"
                (input)="onLengthChange($event)" />
            <p class="ml-2">Length: {{ length }}</p>
            <input class="ml-5 accent-blue-700 cursor-pointer" type="checkbox" [checked]="number"
                (change)="toggleNumbers()" />
            <label class="ml-1">Numbers</label>
            <input class="ml-5 accent-blue-700 cursor-pointer" type="checkbox" [checked]="character"
                (change)="toggleCharacters()" />
            <label class="ml-1">Characters</label>
        </div>
    </div>
</div>